body{
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
}
.form{
    width: 400px;
    background-color: #b9b9bb;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.input_group
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
label{
    margin-bottom: 10px;
    font-size: 21px;
}
input{
    width: 350px;
    height: 30px;
    outline: unset;
}


.btn{

    margin-top: 30px;
    width: 110px;
    height: 40px;
       background-color:#fff200;
       border: none;
       font-size: 21px;
}


#message
{
    margin: 20px auto 0;
    padding: 15px;
    width: 350px;
    height: 50px;
    background-color:#00ff8e;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 21px;
    display: none;
  transition: all 1.4s;

}
#error
{
    margin: 20px auto 0;
    padding: 15px;
    width: 350px;
    height: 90px;
    background-color:#ff1900;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    display: none;
  

}
