body{
    background-color: beige;
    /* font-family: 'Open Sans', sans-serif; */
}
.form{
    width: 400px;
    background-color: #f8d7da;
    margin: 100px auto 0;
    padding: 25px;
    border-radius:15px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: relative;
    box-shadow: 2px 0 4px 1px grey;


}
.input_group
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
label{
    margin-bottom: 10px;
    font-size: 21px;
}
input{
    width: 350px;
    height: 30px;
    outline: unset;
}


.btn_m{

    margin-top: 30px;
    width: 130px;
    height: 50px;
    background-color:#bfddeba1; 
    border: 1px solid rgba(128, 128, 128, 0.414); 
    font-size: 18px;
    border-radius:15px;
    color: rgb(116, 116, 116);
    font-weight: 700;
   
       
       
}
.btn-outline-primary
{
  --bs-btn-color: #ffffff;
}


#message
{
    /* margin: 20px auto 0;
    padding: 15px;
    width: 350px;
    height: 50px;
    background-color:#00ff8e;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 21px; */
    display: none;
    transition: all 1.4s;
    margin-top: 25px;
    border-radius:15px;

}
#error
{
    margin: 20px auto 0;
    padding: 15px;
    width: 350px;
    height: 125px;
    background-color:#ff5341;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    border-radius:15px;
    display: none;
  

}
/*----------------------------------*/
body{background:#ECF0F1}

.load{
  /* border: 1px solid #ECF0F1; */
  display: none;
  padding: 5px;
  position:absolute;
  top:84%;
  left:50%;
  transform-origin: center center;
  transform:translate(-50%, -50%) rotate(135deg);
  /*change these sizes to fit into your project*/
  width:30px;
  height:30px;
  
}
.load hr{
  border:0;
  margin:0;
  width:40%;
  height:40%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite;
}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translateX(200%)}
  25%{transform:translateY(200%)}
  50%{transform:translateX(0)}
  75%{transform:translateY(0)}
}

.img
{
  position: absolute;
  left: 358px;
  top: 0;
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
 
  box-shadow: 3px 2px 4px 1px grey
}