
.block
{
    max-width: 1900px;
    background-color:#eec062;
}


label
{
    cursor: pointer;
}
.quiz_box
{
    position: relative;
  
}
.quest .title
{
    font-weight: 600;
    color: #eec062;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 40px;
    text-shadow: 0px 0px 4px black;
}
.btn_quiz
{
    position: absolute;
    bottom: 40px;
    left: 632px;
    color: rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
    padding: 10px 15px;
    width: 228px;
   background-color:#eec062;
   text-align: center;
   border-radius:10px;
   cursor: pointer;
}
.btn_quiz_prev
{
    position: absolute;
    bottom: 24px;
    left: 60px;
   
    cursor: pointer;
    
    padding: 10px 15px;
    width: 70px;
   background-color:#eebf6200;
   text-align: center;
   border-radius:10px;
   
}
.btn_quiz_prev p
{
    color:white;
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
   text-align: center;
 
   
}
.btn_quiz_prev::before
{
    top: 4px;
    content: url(./images/prev.svg);
    width: 38px;
    position: absolute;
    left: -26px;
}

   

.one
{
    box-sizing:border-box;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    
}
.radio_btn
{
 box-sizing:border-box;
}
.radio_btn_two
{
 box-sizing:border-box;
}
.radio_btn_two input
{
 appearance: none;
}
.radio_btn input
{
 appearance: none;
 
}
.img_quiz{
    position: relative;
    width: 224px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items:center;
   
}
.img_quiz p{
    color:white;
}
.active_img_quiz
{
    border: 2px solid #eec062;
    border-radius: 20px;
}
.img_quiz img{
    width: 220px;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
}
.active_two_quiz
{
    border: 2px solid #eec062;
    border-radius: 10px;
    position: relative;
}
.done{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный-1.svg);
    width: 50px;
    height: 50px;
    background-size: contain;
}
.doneT{
    position: absolute;
    top: 50%;
    left: 85%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный-1.svg);
    width: 50px;
    height: 50px;
}  
.one_row
{
    margin:40px 20px 20px;

    display: flex;
    justify-content: space-around;
}
.two_row
{
    margin:20px 20px 40px;
    gap: 40px;
    display: flex;
    justify-content: center;
}





.quiz_box
{
    margin: 0 auto;
    width: 900px;
    height: 700px;
    background-color:#3a3a3a;
    overflow: hidden;
    
    box-sizing: border-box;
}
.quiz_field
{
    display: flex;
}
.quest
{
    min-width: 900px;
    min-height: 700px;
}


/*22222222222222222222222222*/
.check_one_quiz {

    
    border:1px solid white;
    height: 50px;
    width: 400px;
    border-radius:10px;
    padding-left: 40px;
    padding-top: 9px;
    
}
.check_one_quiz p{

    font-size: calc(17px + 7* (100vw / 1900));
    line-height: calc(14px + 11* (100vw / 1900));
    color: white;
    
}
.measure_img
{
    width: 470px;
    margin: 50px auto;
   
   
}
.measure_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*22222222222222222222222222*/
/*333333333333333333333333333*/

.three
{
    position: relative;
}
.one_col
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 60px;
}

.one_col .radio_btn
{
  margin-top: 20px;
}
.map_img
{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 559px;
    top: 142px;
}
.map_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*333333333333333333333333333*/

/*4444444444444444444444444444444444*/
.deliv_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.deliv_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}

/*55555555555555555555555555555555555555555555555*/


.bild_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.bild_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}